.error {
  color: var(--error_color);
  margin-top: 0.5rem;
  margin-left: 1rem;
}
.account-select {
  width: 200px;
}

.form-container {
  border: none;
  border-bottom: 1px solid var(--secondary_color);
  padding: 40px 0;
}

.button-form {
  justify-content: center;
  margin-top: 20px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.form-container p {
  font-size: 0.9em;
  margin-bottom: 20px;
}

.form-container div {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.form-container div p {
  margin: 0 10px;
}

.form-container label {
  margin-right: 20px;
  min-width: 300px;
  text-align: right;
}

.large {
  width: 400px;
}

.small {
  width: 100px;
}
